name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - id: codeowners
        name: Run find-codeowners-action
        uses: ./
        with:
          codeowners: .github/CODEOWNERS
          path: src/main.ts
      - run: test '${{ steps.codeowners.outputs.owners }}' = '@int128'

      - id: test-codeowners-1
        name: Test CODEOWNERS
        uses: ./
        with:
          codeowners: .github/CODEOWNERS
          path: src/*.ts
          path-glob: true
      - if: steps.test-codeowners-1.outputs.orphan-files
        run: exit 1

      - id: test-codeowners-2
        name: Test CODEOWNERS
        uses: ./
        with:
          codeowners: .github/CODEOWNERS
          path: .github/workflows/*
          path-glob: true
      - if: steps.test-codeowners-2.outputs.orphan-files == ''
        run: exit 1

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run check
      - uses: int128/update-generated-files-action@2dfdf7949b8e414b6b014b636a2ebaa2f3c04fe9 # v2.77.0
